@font-face {
    font-family: tommy;
    src: url("../font/Tommy_Medium.otf");
}

body{
    margin: 0;
    padding: 0;
}

/* NAV MAIN */
.bg-main-nav{
    background-color: #20bf6b;
    font-family: tommy, serif;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-logo{
    font-size: 32px;
    text-shadow: 2px 2px 4px #000000;
}

@media only screen and (min-width: 990px) {
    .border-nav{
        border: 2px solid #4b6584;
        border-radius: 10px;
        transition: border-radius 400ms;
    }

    .border-nav:hover{
        border-radius: 15px;
    }

}

/* NAV VERTICALE */
#menu_vertical{
    float: left;
    width: 10%;
    min-height: 100vh;
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu_vertical li{
    margin-bottom: 20px;
    padding-left: 20px;
}

#menu_vertical li a{
    color: #222222;
    font-family: tommy, serif;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    transition: font-size 400ms;
}

#menu_vertical li a:hover{
    font-size: 20px;
}

/* IMG Background */
.img-bg{
    top: 0;
    left: 0;
    background-image: url("http://iwallpapers.free.fr/upload/2012/09/23/20120923100753-ccf2d2bc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-flou{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-family: tommy,sans-serif;
    font-size: 48px;
    color: white;
    padding-top: 180px;
    text-shadow: 2px 2px 4px #000000;
}

.btn-carousel{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    height: 70px;
    width: 200px;
    background-color: #20bf6b;
    font-family: tommy, sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.title-section{
    font-family: tommy, sans-serif;
    text-transform: uppercase;
    color: #4b6584;
}

.card-actu{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #4b6584;
}

.img-presentation{
    top: 0;
    left: 0;
    background-image: url("https://images.alphacoders.com/852/852395.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-programme{
    top: 0;
    left: 0;
    background-image: url("https://media.collegedesbernardins.fr/content/formation/RDV-EC/1H1L%20taxo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-blog{
    top: 0;
    left: 0;
    background-image: url("https://images.alphacoders.com/852/852395.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-contact{
    top: 0;
    left: 0;
    background-image: url("https://www.vwfs.co.in/contact-us/_jcr_content/stage.xxl.jpg/Contact%20us-%202-1%20-%203000%20px%20X%201500px.jpg ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-page{
    text-align: center;
    text-transform: uppercase;
    font-family: tommy,sans-serif;
    font-size: 48px;
    color: white;
    padding-top: 150px;
    text-shadow: 2px 2px 4px #000000;
}

#footer{
    height: 75px;
    background-color: #20bf6b;
}

#footer-text{
    padding-top: 25px;
    color: white;
    font-family: tommy, sans-serif;
    font-size: 16px;
}

