{% extends 'menu/main.html.twig' %}

{% block title %}Deux-Sèvres en commun{% endblock %}

{% block body %}
    <div class="img-presentation img-fluid text-center">
        <h2 class="title-page">Qui sommes-nous ?</h2>
    </div>
    <div class="container">

    </div>
{% endblock %}