{% extends 'menu/main.html.twig' %}

{% block title %}Blog Deux-Sèvres en commun{% endblock %}

{% block body %}
    <div class="img-blog img-fluid text-center">
        <h2 class="title-page">Actualité</h2>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="text-center">
                <h2 class="title-section">Les actualités</h2>
            </div>
        </div>
        <div class="row mt-2">
            {% for article in articles %}
                <div class="col-4">
                    <div class="card card-actu bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">{{ article.title }}</h4>
                            <img class="img-fluid" src="https://images.lanouvellerepublique.fr/image/upload/t_1020w/5e250df2cd61532a558b46cb.jpg" alt="">
                            <p class="card-text text-justify">{{ article.content|slice(0,200) }} ...</p>
                            <a class="btn btn-primary" href="{{ path('article_show', {'id': article.id}) }}">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include('pagination/pagination.html.twig') %}
    </div>
{% endblock %}
