{% extends 'menu/main.html.twig' %}

{% block title %}Nouvelle Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un article</h1>

        {{ include('article/_form.html.twig') }}

        <a href="{{ path('article_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
